*{
    margin: 0;
    padding: 0;
}
.principal{
    width: 100%;
    margin: 0 auto;
}
header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.preencher{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
form{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    width: 550px;
    height: 20px;
    margin-top:30px;
    padding: 15px;
    border-style: none;
    border-bottom: solid 1px #000000;
}
.info{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
table{
    width: 550px;
    height: 100px;
    margin-top: 30px;
    border-collapse: collapse;
}
th, td{
    width: 550px;
    border: solid 1px #000000;
}
.btn{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.btn button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #02506e;
    color: #ffffff;
    border-bottom-color: #02506e;
}
.btn button:hover{
    width: 110px;
    height: 40px;
    transition: 0.5s;
    border-radius: 5px;
    background-color: #02506e;
    color: #ffffff;
    border-bottom-color: #02506e;
    box-shadow: 1px 1px 10px 1px #02506e;
}
